<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />	

</head>
<body>
	<div th:replace="layout :: header"></div>
	<p th:text="${title}"></p>

</body>
</html>