<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />	
</head>
<body>
	<div th:replace="layout :: header"></div>
	<h1>edit page</h1>
	
	<form method="post" action="/edit" th:object="${formModel}">
		<input type="hidden" name="id" th:value="*{id}">
		<p>名前 </p>
		<input type="text" name="name" th:value="*{name}">
		<p>メールアドレス </p>
		<input type="text" name="mailaddress" th:value="*{mailaddress}">
		<p>Tel </p>	
		<input type="text" name="telno" th:value="*{telno}">
		<p>メモ </p>	
		<textarea name="memo" th:text="*{memo}" cols="20" rows="5"></textarea>
		<input type="submit" value="edit">
	</form>

</body>
</html>