<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />	
</head>
<body>
	<div th:replace="layout :: header"></div>
	<h1>find page</h1>
	<p th:text="${message}"></p>
	<form method="post" action="/find/result" th:object="${findModel}">
	<input type="text" name="id">
	<tr><td></td><td><input type="submit" /></td></tr>
	</form>
	
</body>
</html>