<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />	
</head>
<body>
	<div th:replace="layout :: header"></div>
	<h1>一覧</h1>
	
	<table>
	<tr><th>ID</th><th>名前</th><th>メアド</th><th>Tel</th><th>メモ</th><th>作成日</th></tr>
	<tr th:each="obj : ${data}">
		<td th:text="${obj.id}" ></td></a>
		<td th:text="${obj.name}"></td>
		<td th:text="${obj.mailaddress}"></td>
		<td th:text="${obj.Telno}"></td>
		<td th:text="${obj.memo}"></td>
		<td th:text="${obj.created_at}"></td>
		<td ><a href="show.html" th:href="@{http://localhost:8080/posts/{id}/show(id=${obj.id})}"> 詳細</a></td>
	</tr>
	</table>
</body>
</html>