<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />	
</head>
<body>
	<div th:replace="layout :: header"></div>
	<h1>insert page</h1>
	<p th:text="${message}"></p>
	<table>
	<form method="post" action="/insert" th:object="${formModel}">
		<ul>
			<li th:each="error : ${#fields.detailedErrors()}" class="err" th:text="${error.message}" />
		</ul>
	<tr><td><label for="name">名前</label></td>
		<td><input type="text" name="name" th:value="*{name}" /></td></tr>
	<tr><td><label for="name">メアド</label></td>
		<td><input type="text" name="mailaddress" th:value="*{mailaddress}" /></td></tr>
	<tr><td><label for="name">Tel</label></td>
		<td><input type="text" name="telno" th:value="*{telno}" /></td></tr>
	<tr><td><label for="name">メモ</label></td>
		<td><textarea name="memo" th:text="*{memo}" cols="20" rows="5"/></textarea></td></tr>
	<tr><td></td><td><input type="submit" /></td></tr>
	</form>
	</table>
	<hr/>
</body>
</html>