<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />
	<style>
		#menus {list-style: none;}
		#menus li {width: 140px; text-align: center;}
		#menus a {text-decoration: none;}
	</style>
</head>
<body>
	<header th:fragment="header">
	<ul id="menus">
		<a th:href="@{http://localhost:8080}"><li>Top page</li></a>
		<a th:href="@{http://localhost:8080/about}"><li>About</li></a>
		<a th:href="@{http://localhost:8080/index}"><li>Posts</li></a>
		<a th:href="@{http://localhost:8080/insert}"><li>Insert</li></a>
		<a th:href="@{http://localhost:8080/find}"><li>Find for</li></a>
	</ul>
	</header>
</body>
</html>