<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />	
</head>
<body>
	<div th:replace="layout :: header"></div>
	<h1>result page</h1>
	<p th:text="${message}"></p>
	<div><table>
	<tr><th>ID</th><th>メアド</th><th>メモ</th><th>Tel</th><th>名前</th><th>作成日</th></tr>
	<tr th:each="obj : ${data}">
		<td th:text="${obj.id}"></td>
		<td th:text="${obj.name}"></td>
		<td th:text="${obj.mailaddress}"></td>
		<td th:text="${obj.Telno}"></td>
		<td th:text="${obj.memo}"></td>
		<td th:text="${obj.created_at}"></td>
	</table></div>
</body>
</html>