<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>top page</title>
	<meta http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />	
</head>
<body>
	<div th:replace="layout :: header"></div>
	<h1>show page</h1>
	<p th:text="${message}"></p>
	<div><table>
	<tr><th>ID</th><th>名前</th><th>メール</th><th>Tel</th><th>メモ</th><th>作成日</th></tr>
	<tr th:each="obj : ${data}">
		<td th:text="${obj.id}"></td>
		<td th:text="${obj.name}"></td>
		<td th:text="${obj.mailaddress}"></td>
		<td th:text="${obj.Telno}"></td>
		<td th:text="${obj.memo}"></td>
		<td th:text="${obj.created_at}"></td>
		<td><a href="edit.html" th:href="@{http://localhost:8080/posts/{id}/edit(id=${obj.id})}">編集</a></td>
		<form type="post" action="/delete"  th:method="post" >
		<input type="hidden" name="id" th:value="${obj.id}">
		<td><input type="submit" value="delete"/></td>
		</form> 
	</table></div>

</body>
</html>
